<div class="container">
<!--  <header class="jumbotron">
    <p>{{ valutes }}</p>
  </header>-->
</div>
<!--<div class="div">
  <ul>
    <li *ngFor="let item of valutes">
      {{item.id}} {{item.name}} {{item.charCode}}
    </li>
  </ul>
</div>-->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <ul>
        <li *ngFor="let item of valutes">
          {{item.id}} {{item.name}} {{item.charCode}}
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <li *ngFor="let item of valutes">
          {{item.id}} {{item.name}} {{item.charCode}}
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <li *ngFor="let item of valutes">
          {{item.id}} {{item.name}} {{item.charCode}}
        </li>
      </ul>
    </div>
  </div>
</div>

